<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>

    <title>Memorizer</title>
</head>
<body>
    <div class="main w-full min-h-screen bg-zinc-800">,
        <div class="mt-4 p-2 mb-2">
        <div><a href="/" class="bg-blue-700 px-2 py-2 rounded-full text-white">Go back</a></div>
        <form action="/edit" method="post">
            <div class="flex flex-col">
            <input class="bg-zinc-700 text-white rounded-lg p-2 mt-6 outline-none w-1/4" placeholder="Enter title" name="prev"  value="<%=filename%>" readonly/>
            <input class="bg-zinc-700 text-white rounded-lg p-2 mt-6 outline-none w-1/4" placeholder="New Title" name="new"/>

            <input type="submit" class=" w-1/4 px-4 py-2 mt-2 text-white bg-yellow-700 rounded-lg outline-none" placeholder="Update filename" />
    </div></form>    
    </div>
</div>
    </div>
</body>
</html>